{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
{#    <link href="../static/normalize.css" rel="stylesheet">#}
{#    <link href="../static/style.css" rel="stylesheet">#}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">
<header>
<nav>
    <a href="">{% trans "Главная" %}</a>
    {% if user.is_authenticated %}
        <a href="{% url 'profile' user.id %}">{% trans "Профиль" %}</a>
        <a href="{% url 'logout'%}">{% trans "Нажмите здесь, чтобы выйти" %}</a>
    {% else %}
        <a href="{% url 'login'%}">{% trans "Нажмите здесь, чтобы войти" %}</a>
        <br>
        <a href="{% url 'register'%}">{% trans "Нажмите здесь, чтобы зарегистрироваться" %}</a>
    {% endif %}
</nav>

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
</header>
    {% block body %}
    {% endblock %}
</body>
</html>