{% extends 'base.html' %} {% load i18n %} {% block title %}{% trans "Мои бизнесы" %}{% endblock %} {% block body %}



<div class="row">

    {% if businesses %} {% for b in businesses %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ b.name }}</h5>
                <p class="card-text">Категория: {{ b.category.name }}</p>
                <a href="{% url 'business_detail' b.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>

    {% endfor %} {% else %} У вас пока нет бизнеса {% endif %}


</div>

<br>
<br>
<form action="{% url 'business_create' %}" style="position: relative; left: 37%; right: 37%;">
    <button class="btn btn-dark">{% trans "Добавить бизнес" %}</button>
</form>
{% endblock %}