{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Мои бизнесы" %}{% endblock %}
{% block body %}
    {{ business.name }}
    {{ business.сategory }}
    <button class="btn" type="button" ><a href="">Редактировать</a> </button>
        Услуги
        <table>
            <th>{% trans Наименование%} </th>
            <th>{% trans Цена%}</th>
        {% if services %}
            {% for s in services %}
                <tr>
                <td>{{ s.service_name }}</td>
                <td>{{ s.service_price }}</td>
                </tr>
            {% endfor %}
            {% else %}
            НЕТУ
        {% endif %}

        </table>
        Добавить услугу
        <form method="post" action=".">
        {% csrf_token %}
        {{ service_form.as_p}}
        <button type="submit">{% trans 'Добавить' %}</button>
        </form>
        Платежи
        <table>
            <th>{% trans Наименование%} </th>
            <th>{% trans Цена%}</th>
        {% if expenses %}
            {% for e in expenses %}
                <tr>
                <td>{{ e.expense_name }}</td>
                <td>{{ e.expense_price }}</td>
                <td>{{ e.data }}</td>
                </tr>
            {% endfor %}
            {% else %}
            НЕТУ
        {% endif %}

        </table>
        Добавить платеж
        <form method="post" action=".">
        {% csrf_token %}
        {{ expense_form.as_p}}
        <button type="submit">{% trans 'Добавить' %}</button>
        </form>

{% endblock %}