{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Профиль" %}{% endblock %}

{% block body %}
    <p>{% trans "ИМЯ" %} - {{ user.user.username }}</p>
    <p>{% trans "ТЕЛЕФОН" %} - {{ user.phone }}</p>
    <p>{% trans "ГОРОД" %} - {{ user.city }}</p>
    <p>{% trans "ГОРОД" %} - {{ user.email }}</p>
    <button class="btn" type="button" ><a href="{% url 'profile_edit' user.id %}">Редактировать профиль</a> </button>
    <a href="{% url 'businesses_list' user.id %}">Мои бизнесы</a>
{% endblock %}